.main {
    display: flex;
    min-height: calc(100% - 50px);
  }
.main-right {
    width: 100%;
    background-color: #f2f3f8;
    padding: 25px 20px 10px;
  }
  .row{
      margin-right: -15px;
      margin-left: -15px;
  }
  .margin-top-10 {
    margin-top: 10px !important;
  }
  .dash-let {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
  }
  .dash-let > a {
    margin-bottom: 20px;
    display: block;
    height: 180px;
    width: 100%;
    background-color: #0071c6;
    position: relative;
    overflow: hidden;
    transition: all 0.5s !important;
    box-shadow: 0 0 0 0 transparent;
    border-radius: 6px;
  }
  .dash-let > a > i {
    font-size: 80px;
    position: absolute;
    top: 15%;
    left: calc(50% - 40px);
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.7s ease-out;
  }
  .dash-let > a > span {
    transition: all 0.5s !important;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    height: 45px;
    color: white;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dash-let > a:active > i,
  .dash-let > a:hover > i {
    font-size: 90px;
    left: calc(50% - 44px);
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.5s !important;
    -webkit-transition: all 0.5s !important;
  }
  .dash-let > a:hover > span {
    height: 180px;
    padding-top: 125px;
  }