* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Roboto", sans-serif;
}
a{
  color: black;
}
a:hover{color: black;}

.header {
  border-bottom: 1px solid #b2b2b2;
  padding: 20px 0 17px 0;
  border-top: 10px solid #2b3643;
  border-bottom: 10px solid #2b3643;

}
.bg-navbar{
  background-color: #2b3643;
}

.nav-link{
  border-top: 1px solid #3d4957;
  color: #b4bcc8;
}
.nav-link:hover{
  background-color: #d0ddee;
  color: #101b47;
}
.nav-link:focus{
  background-color: #101b47;
  color: #ffffff;

}

.img-circle{
  border-radius: 50%;
}
.logout{padding-top: 2%;}
.account {padding-top: 2%;}

a {
  text-decoration: none;
}
.login {
  margin-bottom: 14px;
  margin-top: 35px;
}
.login a {
  margin-right: 10px;
}




.sidebar-left{
  min-height: 650px;
}
 
/*login*/

.css-login{
  display: flex ;
  justify-content: space-between;
}

.background-login-img{
  width: 50%;
}
.login-form{
  width: 47%;
}
