html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-box {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  }

  .login-img{
    width: 50%;
    margin-right: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(to right, #67D7F5, #86F7CC);
  }
  
  .login-form{
    width: 50%;
    padding: 40px 40px 40px 0;
  }
  .note-login{
    color: #f0083c;
    font-style: italic;
    margin-top: 4px;
    font-size: 16px;
    margin-bottom: 5px;
}
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    /* padding: 10px 0; */
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
 
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #18253d;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px
  }
  
  .login-box button:hover {
    background: #03e8f43b;
    color: #fff;
    border-radius: 5px;
  }
  