* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Roboto", sans-serif;
}
a{
  color: black;
}
a:hover{color: black;}

.header {
  border-bottom: 1px solid #b2b2b2;
  padding: 20px 0 17px 0;
  border-top: 10px solid #2b3643;
  border-bottom: 10px solid #2b3643;

}
.bg-navbar{
  background-color: #2b3643;
}

.nav-link{
  border-top: 1px solid #3d4957;
  color: #b4bcc8;
}
.nav-link:hover{
  background-color: #d0ddee;
  color: #11131dd9;
}
.nav-link:focus{
  background-color: #101b47;
  color: #ffffff;

}

.img-circle{
  border-radius: 50%;
}
.logout{padding-top: 2%;}
.account {padding-top: 2%;}

a {
  text-decoration: none;
}
.login {
  margin-bottom: 14px;
  margin-top: 35px;
}
.login a {
  margin-right: 10px;
}




.sidebar-left{
  min-height: 650px;
}
 
/*login*/

.css-login{
  display: flex ;
  justify-content: space-between;
}

.background-login-img{
  width: 50%;
}
.login-form{
  width: 47%;
}

/* information */
.panel-heading{
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  background: #eee;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.text-center{
  text-align: center;
} 

/* homepage */
/* .main {
  display: flex;
  min-height: calc(100% - 50px);
} */
/* .main-right {
  width: 100%;
  background-color: #f2f3f8;
  padding: 25px 20px 10px;
} */
/* .row{
    margin-right: -15px;
    margin-left: -15px;
} */
/* .margin-top-10 {
  margin-top: 10px !important;
} */
.dash-let {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
}
.dash-let > a {
  margin-bottom: 20px;
  display: block;
  height: 180px;
  width: 100%;
  background-color: #0071c6;
  position: relative;
  overflow: hidden;
  transition: all 0.5s !important;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 6px;
}
.dash-let > a > i {
  font-size: 80px;
  position: absolute;
  top: 15%;
  left: calc(50% - 40px);
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.7s ease-out;
}
.dash-let > a > span {
  transition: all 0.5s !important;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  height: 45px;
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dash-let > a:active > i,
.dash-let > a:hover > i {
  font-size: 90px;
  left: calc(50% - 44px);
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
}
.dash-let > a:hover > span {
  height: 180px;
  padding-top: 125px;
}